.App {
  text-align: center;
}

h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: #feda4a;
}


.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #feda4a;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #feda4a;
  background-color: black;
}

.paginationActive a {
  color: white;
  background-color: #feda4a;
}

.paginationDisabled a {
  color: darkgrey;
  background-color: darkgray;
}

.chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}